//Novedades:

section{
    .titulo-novedades-1{
        text-align: center;
        text-transform: uppercase;
    }
}

div{
    div{

        .tortamixta-texto{
            color: red;
            font-size: x-large;
        }
    }
    div{

        .tortachoco-texto{
            color: red;
            font-size: x-large;
        }
    }
    div{

        .havanet-texto{
            color: red;
            font-size: x-large;
        }
    }
}


section{
    .titulo-novedades-2{
        text-align: center;
        text-transform: uppercase;
    }
}

div{
    div{
        .box1-texto{
            color: red;
            font-size: x-large;
        }
    }
    div{
        .box2-texto{
            color: red;
            font-size: x-large;
        }
    }
    div{
        .rogel-texto{
            color: red;
            font-size: x-large;
        }
    }
}
