//Contacto

fieldset{
    .cabeza{
        color: blueviolet;
        font-size: 27px;
        padding: 10px;
    }
    div{
        .bigicon{
            font-size: 35px;
            color:pink
        }
    }
    div{
        .boton{
            background-color: pink;
            color: blueviolet;
        }
    }
}



