//Realizo lo que seria el main de index

*{
    font-family: 'Dancing Script', cursive ,sans-serif;
    margin: 0;
    padding: 0;
}

main{
    .seccion1{
        h1{
            text-align: center;
            text-transform: uppercase;
        }
        h2{
            display: flex;
            justify-content: center;
            margin: 30px;
        }
    }
}


//Realizo la seccion1 con el carousel
//Le agrego un mapa

$tortas:(
    tama単o:700px,
    colorete:red,
    letra:x-large
);


.carrusel{
    div{
        .baileys{
            height: map-get($tortas,tama単o);
        }
        .baileys-texto{
            color:map-get($tortas,colorete);
            font-size: map-get($tortas,letra);
            h3{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }
    }
    div{
        .coquitorta{
            height: map-get($tortas,tama単o);
        }
        .coquitorta-texto{
            color:map-get($tortas,colorete);
            font-size: map-get($tortas,letra);
        }
        h3{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    div{
        .maracuya{
            height: map-get($tortas,tama単o);
        }
        .maracuya-texto{
            color:map-get($tortas,colorete);
            font-size: map-get($tortas,letra);
        }
        h3{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}

main{
    div{
        .seccion2{
            .fservicios{
                .tortasPostres{
                    width: 200px;
                    height: 200px;
                }
                h3{font-family: Verdana, Geneva, Tahoma, sans-serif;}
                .mesadulce{
                    width: 200px;
                    height: 200px;
                }
                .boxes{
                    width: 200px;
                    height: 200px;
                }
            }
        }

    }
    
}
